body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 50%;
}

div.top-menu {
    position: fixed;
    background-color:#ADFF2F;
    margin-top: 2%;
    margin-left: 2%;
    width: 12vw;
    height: 5%;
}

div.comment{
    position: fixed;
    width: 300px;
    background-color: green;
    height: 60%;
}

div.content {
    position: fixed;
    margin-left: 300px;
    height: 100vw;
}

div.container {
    position: fixed;
    margin-left: 0%;
    width: 100vw;
    height: 100vh;
}

div.navbar {
    position: fixed;
    height: 20%;
    background-color:#ADFF2F;
    width: 100%;
    height: 25%;
}

div.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9ACD32;
    color: white;
    text-align: center;
  }
  div.main {
    position: fixed;
    margin-left: 0%;
    margin-top: 12%;
    height: 100vw;
    text-align: center;
  }


